body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid black;

    tr:nth-child(odd) {
        background-color: lightgray;
    }

    td {
        border: 1px solid black;
        padding: 1rem;
    }

    th {
        background-color: darkgray;
        color: white;
        border: 1px solid black;

    }
}